<header style="background-color: black; color: white; padding: 10px;"> 
    <h3> Bem vindo ao OverWrite-X</h3>
</header>    

<article>
    <p> Olá bem vindo este é o seu acesso ao sistema Over Write </p><br>
    <p> Aproveite Bem!</p>    
</article>

<footer style="background-color: black; color: white; padding: 10px;"> 
    <h4> Siga nós nas redes sociais </h4>
    <p>@mpalves89  - Instagram 
        https://www.linkedin.com/in/m%C3%A1rcio-pereira-alves-65a6612a/ - Linkedin 
    </p>    
</footer>